Package: com.inoahdev.launchinsafemode
Name: LaunchInSafeMode
Depends: mobilesubstrate, preferenceloader
Version: 1.0.3
Architecture: iphoneos-arm
Description: Use 3D Touch to launch an application into safe mode
Maintainer: inoahdev
Author: inoahdev
Section: Tweaks
