Package: com.inoahdev.launchinsafemode
Name: LaunchInSafeMode
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: inoahdev
Author: inoahdev
Section: Tweaks
